.head-text {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin-bottom: 12px;
}

.text {
  line-height: 30px;
  color: #7A7A7A;
}

.about-page-container {
  display: flex;
  flex-direction: row;
  padding: 96px 10% 66px 10%;
  background-color: #2B2B2B;
  > .information {
    padding: 0 20px;
    > h2 {
      @extend .head-text;
    }
    > p {
      @extend .text;
    }
    > .bottom-part {
      display: flex;
      justify-content: space-between;
      > div {
        float: left;
        > h2 {
          @extend .head-text;
        }
        > p {
          @extend .text;
        }
      }
    }
  }
}