nav {
    font: 12px 'opensans-bold', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    z-index: 1;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    min-width: 80%;
    
    // redo it
    // it use to show menu on white pages
    background-color: aquamarine;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid black;
    // end redi it

    > ul {
        list-style-type: none;
    }
}